@model Services.Models.IssueViewModel

<li class="group-row">

    <div class="issue-state-img">
        <span class="glyphicon @(Model.ClosedAt == null? "glyphicon-exclamation-sign" : "glyphicon-ban-circle")" aria-hidden="true"></span>
    </div>
    <div class="issue-header-li">
        <div class="title">
            <strong><a href="@Url.Action("Details", "Issues", new { groupId = Model.GroupId, id=Model.Id} )">@Model.Title</a></strong>
        </div>
        <div class="description">
            @if (Model.ClosedAt.HasValue)
            {
                <p>#@Model.IssueNumber was closed on @Model.ClosedAt.Value.ToShortDateString() by @Model.ClosedByUser </p>
            }
            else
            {
                <p>#@Model.IssueNumber opened on @Model.OpenedAt.ToShortDateString() by @Model.OpenedByUser </p>
            }
        </div>
    </div>
    @if (Model.AssignedToUserId.HasValue)
    {
    <div class="issue-assignee-li">
        <img src="@Model.AssignedToAvatarPath" class="img-circle avatarSmall" title="Assigned to @Model.AsignedToUsername" />
    </div>
    }
</li>



