@model Services.Models.AddMemberViewModel
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUserId = User.Identity.GetUserId<int>();
}
<div class="alert alert-danger alert-dismissible collapse" role="alert" id="error-alert"> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span></button> 
    <strong>Error!</strong> Can't remove the only owner of the group. Assign another owner or remove whole group. 
</div>
<div class="alert alert-warning alert-dismissible collapse" role="alert" id="error-alert-userAlreadyHere">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <strong>Warning!</strong> Selected user is already in this group.
</div>

<h3>Members</h3>
<hr class="m-tb-15" />

@if (Model.IsOwner){
<p>Add new member to a group <strong>@Model.GroupTitle</strong></p>

<form action="/Group/AddMember" method="post" id="add-member-form">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8">
            <input id="add-user" type="text" placeholder="Search for a user" class="typeahead form-control" />

            @Html.HiddenFor(u => u.UserId, new { @class="UserId"})
            @Html.HiddenFor(r => r.GroupId)

            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.DropDownList("RoleId", new SelectList(Model.GroupRoles, "Id", "Name"), "Select Role", new { @class="form-control"})
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary form-control" type="submit">Add User</button>
        </div>
    </div>
    <p class="text-info m-b-15">You can search by full name or username using @@ before it</p>
</form>
}
<p>Existing members</p>
<div class="row">
    <div class="col-md-12">
        <div class="table-header">
            <span>Members with access to <strong>@Model.GroupTitle</strong></span>
        </div>
        <ul class="group-list">
            @Html.EditorFor(m=>m.Members, new { GroupRoles = Model.GroupRoles, IsOwner=Model.IsOwner, CurrentUserId = currentUserId }  )
        </ul>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-confirmation.min.js"></script>
    <script src="~/Scripts/self/groupMembers.js"></script>
}