<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Task Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">
        <div class="navbar navbar-inverse header navbar-fixed-top">
            <div class="container container-width">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href='@Url.Action("Index", "Home")'>
                      <img src="../../Content/Images/Logo1.png" id="header-main-image" alt="Tasks Management main page" title="Tasks Management main page"/>
                    </a>
                    
<!--                    @Html.ActionLink("Logo", "Index", "Home", null, new {@class="header-main-image"})-->
                    
<!--                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
                </div>
                <!--<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Test", "Test", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>-->
            </div>
        </div>
        <div class="container body-content content-end">
            @RenderBody()
        <!--<hr />-->
        </div>
        <div class="footer">
            <div class="container container-width">
            <div class="float-left" id="first-info">
            <ul class="list-unstyled footer-text">
                <li>&copy; @DateTime.Now.Year - Task Management</li>
                <li>All Rights Reserved</li>
            </ul>
                </div>
            <div class="float-left other-info">
            <ul class="list-unstyled center">
                <li class="decor">CONTACT US</li>
                <li>almebrti@mail.ru</li>
                <li>slashdrop@gmail.com</li>
                <li>095-548-42-08</li>
            </ul>
                </div>
            <div class="float-left other-info">
            <ul class="list-unstyled center">
                <li class="decor">LOCATION</li>
                <li>34B Kniazia Volodymyra Velykoho St., </li>
                <li>Dnipro, 49000, Ukraine</li>
            </ul>
                </div>
                </div>
            <!--        <p class="footertext">&copy; @DateTime.Now.Year - Task Management</p>
        <p class="footertext">All Rights Reserved</p>-->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
